/*  Tags */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #161616;
}

h1 {
    margin: 0;
}


/*  IDs */
#div-about {
    text-align: center;
    margin-top: 3em;
}

#title {
    font-size: 3em;
}

#details {
    animation: fade-in 1s 3.5s forwards;
    opacity: 0;
    width: 80%;
    margin: 1em auto;
}

#btn-reset {
    background: transparent;
    color: #ffffff;
    padding: 10px 25px;
}

#tic {
    animation: ttt 1s .5s forwards;
    opacity: 0;
    margin-top: 25px;
}

#tac {
    animation: ttt 1s 1.5s forwards;
    opacity: 0;
    margin-top: 25px;
}

#toe {
    animation: ttt 1s 2.5s forwards;
    opacity: 0;
    margin-top: 25px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}


/* Classes */
.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
}

.board {
    display: inline-grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.board-cell {
    border: solid 1px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(0, 225, 255);
}

.board-cell-text {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(0, 225, 255);
    padding: 0;
    margin: 0;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.color-accent {
    color: #ffffff;
}

.title-details {
    position: relative;
}

.footer-h4 {
    margin: 0;
    padding: 0;
}

.footer-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #1dcaff;
}

/*  Keyframes */
@keyframes ttt {
    0% {
        opacity: 0;
        color: rgb(0, 225, 255);
        margin-top: 25px;
    }

    100% {
        opacity: 1;
        color: #ffffff;
        margin-top: 0px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*  Media Queries */
@media (max-width: 600px) {
    .board {
        grid-template-rows: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
    }

    #title {
        font-size: 2em;
    }
}
